# Core
langchain
langgraph
langchain-community
langchain-core

# Groq
langchain-groq
groq

# Search
tavily-python

# Environment
python-dotenv

# Notebook
jupyter
ipykernel

# Data
pandas
numpy

# Validation
pydantic
pydantic-settings

# HTTP
requests
httpx

# MCP
mcp
